.idea/
*.iml
target/
*.swp
.idea/vcs.xml
javadocs/
*.iml___jb_tmp___
*.ini
*.dll
*.bmp
*.log
*.bin
*.exe
*.ipdb
*.pdb
*.iobj
*.dat
*.exp
*.Jpg
*.lib
*.sn.ini
/HBase/src/main/resources/consumer.xml
/HBase/src/main/resources/provider.xml
/HBase/src/main/resources/core-site.xml
/HBase/src/main/resources/sql/
/HBase/src/test/
HBase/src/main/java/com/hzgc/hbase/provider/
HBase/src/main/resources/consumer.xml
HBase/src/main/resources/provider.xml
HBase/src/test/java/com/hzgc/hbase/consumer/
/HBase/src/main/resources/
/FtpServer/src/main/resources/producer-over-ftp.properties
/FtpServer/src/main/resources/ftpAddress.properties
